.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header, .container1, .container2, .container3, .footer {
    padding: 0px 150px;
}
.header {
    display: flex;
    background-color: rgb(72, 66, 66);
    color:antiquewhite;
    justify-content: space-between;
    font-size: large;
    padding-bottom: 100px;
}
.header-title {
    font-weight: 900;
    color:white;
    font-size: x-large;
}

ul {
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 20px;
}

.sub-container1b-pic {
    max-width: 200px;
}

a{
    text-decoration: none;
    color: lightgray;
}

.container1 {
    display: flex;
    background-color: rgb(72, 66, 66);
    color:antiquewhite;
    justify-content: space-between;
    font-size: large;
    padding-bottom: 40px;
}
.sc1a-title {
    font-weight: 900;
    font-size: xx-large;
}

.sc1a-text {
    margin: 20px 0px;
}

.sign-up {
    background-color: rgb(59, 137, 233);
    color: white;
    padding: 8px 32px;
    font-size: medium;
    font-weight: 700;
    border-radius: 15%;
}

.pic-title {
    margin-top: 50px;
    display:flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
}

.pic-info {
    display:flex;
    justify-content: center;
    gap: 52px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ex {
    max-width: 150px;
}
.container3 {
    background-color: lightgray;
    padding: 100px 150px;

}

.quote-wrapper {
    display: flex;
    flex-direction: column;
}

.container3quote {
    font-style: italic;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.container3name {
    font-weight: 700;
    align-self: flex-end;
}

.footer {
    background-color: rgb(59, 137, 233);
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    border-radius: 15px;
}
.n {
    background-color: white;
    margin: 80px 20px;
}
.ftitle {
    font-weight: 700;
    font-size: x-large;
}